/* Modo Claro */
/*body {
    background: linear-gradient(45deg, #FF5A00, #FFA64D);
    color: #000000;
}

.navbar, .side-nav, .sidenav-bg, .sidenav-bg:after, .jumbotron, .card {
    background: linear-gradient(45deg, #FF5A00, #FFA64D);
}

a, a:hover, a:focus, a:active {
    color: #FF5A00;
}*/

/* Modo Oscuro */
/*body.dark-mode {
    background: linear-gradient(45deg, #1F1F1F, #4A4A4A);
    color: #ffffff;
}

    body.dark-mode .navbar, body.dark-mode .side-nav, body.dark-mode .sidenav-bg, body.dark-mode .sidenav-bg:after, body.dark-mode .jumbotron, body.dark-mode .card {
        background: linear-gradient(45deg, #1F1F1F, #4A4A4A);
    }

    body.dark-mode .slider {
        background-color: #000;
    }*/

/* Custom Switch */
/*.custom-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .custom-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

input:checked + .slider {
    background-color: #2196F3;
}

    input:checked + .slider:before {
        transform: translateX(26px);
    }

.slider .fa-sun-o, .slider .fa-moon-o {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 18px;
}

.slider .fa-sun-o {
    left: 8px;
}

.slider .fa-moon-o {
    right: 8px;
}*/
